.section_purpose {
  padding: 9.6rem 0;
  font-size: 1.8rem;
}

.purpose-list {
  padding: 4.8rem 0;
  display: flex;
  flex-direction: column;
}

.purpose {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.purpose .icon-box {
  background-color: var(--clr-grey-9);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purpose .purpose-icon {
  font-size: 2.4rem;
}
