@media (max-width: 59em) {
  .hero {
    /* max-width: 130rem; */
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 9.6rem;
    align-items: center;
  }
}
