.section-purpose .icon-box {
  background-color: #e3ebea;
  padding: 1rem;
  width: 64px;
  height: 64px;
  border-radius: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-purpose .icon-box .icon {
  font-size: 2rem;
}
