.cta_section {
  padding: 9.6rem 0;
  background-color: #fff;
}

.contact_section form {
  padding-right: 35px;
}

.cta_section input {
  font-size: 1.8rem;

  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 25px;
  padding-left: 25px;
  outline: none;
  color: #101010;
  background: #f1f1f1;
}

.cta_section input::placeholder {
  color: #797979;
}

.cta_section input.message-box {
  height: 120px;
  border-radius: 15px;
}

.cta_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.cta_section button {
  display: inline-block;
  padding: 12px 45px;
  background-color: #44b89d;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #44b89d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  font-size: 1.8rem;
}

.cta_section button:hover {
  background-color: transparent;
  color: #44b89d;
}

.cta_section .img-box img {
  width: 100%;
}
