/*
=============== 
Navbar
===============
*/
.section_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--clr-grey-10);
  /* box-shadow: var(--light-shadow); */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.section_nav .logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: #14532d;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #30816e;
}

.nav__toggle-btn {
  border: none;
  display: none;
}

.nav__links a {
  color: aliceblue;
  transition: var(--transition);
}

.nav__links a:hover {
  color: #acaeb1;
}

.active-nav {
  /* position: relative; */
  color: #30816e;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--clr-accent);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #30816e;
}

/* .active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--clr-grey-1);
  position: absolute;
  left: calc(50% - 0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
} */

/* Media Queries (md sm) */
@media screen and (max-width: 1024px) {
  .nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    color: aliceblue;
  }

  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    perspective: 400px;
  }

  .active-nav,
  .active-nav::after {
    display: none;
  }

  .nav__links li {
    height: 4rem;
    width: 100%;
    box-shadow: var(--light-shadow);
  }

  .nav__links li a {
    background: var(--clr-grey-1);
    height: 100%;
    width: 100%;
    display: flex;
    padding: 1rem 5rem 1rem 3rem;
  }

  .show__nav {
    display: flex;
  }

  .hide__nav {
    display: none;
  }
}
