/*
=============== 
Navbar
===============
*/
.section_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--clr-grey-10);
  box-shadow: var(--light-shadow);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.section_nav .logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: #14532d;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #23443c;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--clr-accent);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #30816e;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  font-size: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.active-nav {
  /* position: relative; */
  color: #30816e;
}

/* .active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--clr-grey-1);
  position: absolute;
  left: calc(50% - 0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
} */

/* ************************ */
/* Below 1200px (Landscape Tabltes) */
/* ************************ */
@media (max-width: 75em) {
  .section_nav {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
}

/* ************************ */
/* Below 944px (Tabltes) */
/* ************************ */
@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
    z-index: 100000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);
    transition: all 0.5s ease-out;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1 hide it visually */
    opacity: 0;

    /* 2 make it unaccessible to mouse and keypord */
    pointer-events: none;

    /* 3 hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
