/*
=============== 
Navbar
===============
*/
.nav_section nav {
  background: var(--clr-grey-1);
  box-shadow: var(--light-shadow);

  height: 5rem;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav__container {
  height: 100%;
  align-items: center;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.nav__brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: aliceblue;
}

.nav__toggle-btn {
  border: none;
  display: none;
}

.nav__links {
  display: flex;
  gap: 2rem;

  margin: 0;
  padding: 0;
}

.nav__links a {
  color: aliceblue;
  transition: var(--transition);
}

.nav__links a:hover {
  color: #acaeb1;
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--clr-grey-1);
  position: absolute;
  left: calc(50%-0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
}

/* Media Queries (md sm) */
@media screen and (max-width: 1024px) {
  .nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    color: aliceblue;
  }

  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    perspective: 400px;
  }

  .active-nav,
  .active-nav::after {
    display: none;
  }

  .nav__links li {
    height: 4rem;
    width: 100%;
    box-shadow: var(--light-shadow);
  }

  .nav__links li a {
    background: var(--clr-grey-1);
    height: 100%;
    width: 100%;
    display: flex;
    padding: 1rem 5rem 1rem 3rem;
  }

  .show__nav {
    display: flex;
  }

  .hide__nav {
    display: none;
  }
}
