.section_footer {
  padding: 3.2rem 0;
  border-top: 1px solid #eee;
  background-color: #3f3f46;
  color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
  text-decoration: none;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #cbd5e1;

  line-height: 1.6;
  margin-top: auto;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #cbd5e1;

  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #f8fafc;
}
